<html>

<header>

  <div class="navbars">
    <span class="app-name"><b>PeePoopDog</b></span>
    <div class="navbar-nav">
        <a class="navbar-Food" href="/home">Home</a>
        <a class="navbar-Food" href="/addnew">Add New</a>
        <% if (user) { %>
          <div class="navbar-navee">
          <form class="form-inline" action="/logout" method="POST">
            <span style="margin-right: 1em">Hello <%= user.name %>!</span>
            <button type="submit">Logout</button>
          </form>
          </div>
          <% } else { %>
          <div class="navbar-navee">
            <a href="/login">Login</a>
          </div>
        <% } %>
    </div>

  </div>
</header>

</html>
