.popup {
  z-index: 1;
  border-radius: 22px;
}

.card {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0 0 .5em;
}

.getRoute {
  text-align: center;
  border-top: .5px solid tomato;
  padding-top: 1em;
}

.getRoute button {
  background-color: tomato;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 22px;
  border-color: white;
}

label {
  width: max-content;
  color: tomato;
  font-size: 15px;
  border-bottom: .5px solid tomato;
}

.comments {
  font-size: 14;
}