.Map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.washroom-title {
  text-align: center;
  margin-top: 2em;
  color: tomato;
}

#review {
  display: none;
  width: 350px;
  height: 400px;
  border: 2px solid tomato;
  border-radius: 5px;
  margin-top: 5.5em;
  background-color: #b4ccde;
}

#review h1 {
  color: tomato;
  text-align: center;
}

#reviewList {
  overflow: scroll;
  height: 250px;
}

#reviewList h3 {
  text-align: center;
}

#reviewList p {
  color: deeppink;
  text-align: center;
  margin-bottom: 3em;
}

.popup {
  z-index: 1;
  border-radius: 22px;
}

#addReview-button {
  display: none;
  margin: 1em auto;
  width: 40%;
  height: auto;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 22px;
  background-color: tomato;
  color: white;
  border-color: transparent;
}

.card {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0 0 .5em;
}

.getRoute {
  text-align: center;
  border-top: .5px solid tomato;
  padding-top: 1em;
}

.getRoute button {
  background-color: tomato;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 22px;
  border-color: white;
}

.Map label {
  width: max-content;
  color: tomato;
  font-size: 15px;
}

.Map .comments {
  font-size: 14;
}

#instructions {
  display: none;
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
}

.Map .duration {
  font-size: 2em;
}

.addnew {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

#addNewLocation-button {
  margin-top: 2em;
  margin-left: 6.5em;
  background-color: tomato;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 22px;
  border-color: transparent;
  margin-bottom: 2em;
}